a {
	color: #2A3333;
	text-decoration: none;
}

a:hover {
	color: #555;
	text-decoration: underline;
}

body {
	font-family: "Times New Roman";
	font-size: 12px;
	color: #252729;
	text-align: center;
	background: url(../images/bg_body.png) repeat-x;
}

#container {
	width: 920px;
	margin: 0 auto;
	text-align: left;
}

img {
	border: none;
}

/* menu */

#header_logo {
	float: left;
	margin: 10px 0px;
	width: 100%;
	height: 60px;
}

#header_menu {
	float: left;
	margin-top: 15px;
}

#header_menu ul {
	list-style: none;
	margin: 0;
	padding: 0px 0px 0px 0px;
}

#header_menu li {
	display: block;
	float: left;
}

#header_menu a {
	padding: 8px 0px 8px 0px;
	margin: 0px 30px 0px 0px;
	color: #ffffff;
	display: block;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 13px;
}

#header_menu a:hover {
	color: #cccccc;
}

/* main page */

#main_page {
	width: 900px;
	padding-top: 150px;
}

#main_page p {
	font-size: 16px;
}

#main_page dl {
	font-size: 16px;
}


/* main */

#header_main.items {
	width: 950px;
	height: 500px;
	margin-top: 30px;
	float: left;
	padding: 10px;
}

#header_about {
    width: 900px;
    height: 350px;
    margin-top: 30px;
    float: left;
    padding: 10px;
}

#header_main_text {
	padding: 5px 10px 5px 10px;
	/* float: left; */
	position: relative;
	text-shadow: #000 0px 1px 0px;
	margin-top: 276px;
	/* background: url(../images/bg_text.png); */
}

#header_main_text h2 {
	color: #feae31;
}

#main_text {
	padding: 5px 10px 5px 10px;
	/* float: left; */
	position: relative;
	text-shadow: #000 0px 1px 0px;
	margin-top: 276px;
}

/* #header_main_text p {
	color: #000000;
	line-height: 20px;
} */

#header_main_text a {
	color: #feae31;
	text-decoration: none;
	padding-left: 5px;
}

#header_main_text a:hover {
	text-decoration: underline;
}

#header_main_image {
	float: left;
	position: relative;
	width: 100%;
}

#header_about_image {
        float: left;
        width: 100%;
        height: 100%;
}

#boxy {
	margin-top: 30px;
	float: left;
	line-height: 18px;
}

#boxy a {
	padding: 5px;
}

#boxy a:hover, #footer a {
	background: #2A3333;
	color: #ddd;
}

#boxy_box_1 {
	width: 260px;
	float: left;
	background: url(../images/icon_info.png) no-repeat 0cm 0.2cm;
	padding: 0px 0px 0px 40px;
}

#boxy_box_2 {
	width: 270px;
	float: left;
	background: url(../images/icon_book.png) no-repeat 0cm 0.2cm;
	padding: 0px 0px 0px 40px;
}

#boxy_box_3 {
	width: 270px;
	float: left;
	background: url(../images/icon_notes.png) no-repeat 0cm 0.2cm;
	padding: 0px 0px 0px 40px;
}

#boxy_content {
	width: 620px;
	float: left;
	padding: 10px;
	line-height: 20px;
}

#footer {
	width: 915px;
	float: left;
	margin-top: 30px;
	background: url(../images/bg_footer.png) repeat-x;
	padding-left: 5px;
	color: #ddd;
}

div.items p:not(:target) {
    display: none
    
}

div.items p:target {
    display: block
    
}

/* kalkulatory */

#header_calc {
	width: 900px;
	height: 650px;
	margin-top: 30px;
	float: left;
	padding: 10px;
}

#btn1 {
	background-color: #f4f7f4;
  	color: rgb(5, 0, 0);
  	padding: 10px 18px;
  	text-align: center;
	cursor: pointer;
	border-radius: 15px;
  	text-decoration: none;
  	font-size: 12px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#btn2 {
	background-color: #f4f7f4;
  	color: rgb(5, 0, 0);
  	padding: 10px 18px;
  	text-align: center;
	cursor: pointer;
	border-radius: 15px;
  	text-decoration: none;
  	font-size: 12px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* galeria filmików z ćwiczeniami */

#header_gallery {
	width: 900px;
	height: 480px;
	margin-top: 30px;
  display: flex;  
	float: left;
  background: rgb(238, 236, 236);
	border: 1px solid #eee;
	padding: 10px;
}

#header_gallery .videos{
    width: 20%;
    padding: 10px 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header_gallery  .videos video{
    width: 95%;
    height: 100px;
    margin: 10px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s;
}

#header_gallery .videos video:nth-child(1){
    margin-top: 0;
}

#header_gallery .videos video:hover,
#header_gallery  .videos .active{
    transform: scale(1.06);
    border: 3px solid black;
}

#header_gallery  .main-video{
    width: 80%;
    padding: 10px;
}

#header_gallery  .main-video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 3px solid black;
}
 